.section {
	overflow: hidden;
}

#labSide {
	width: 15vw;
	height: 110vh;
	background-color: #486FCC;
	border-right: 1vw solid white;
	transform: rotate(10deg);
	margin-top: -5vh;
	margin-left: -7vw;
}

#labSide span {
	color: white;
	position: absolute;
	font-family: Oswald, sans-serif;
	transform: rotateZ(270deg);
	font-size: 8vh;
	top: 50vh;
	left: 7vw;
}

.labFrame {
	position: absolute;
	top: 1vh;
	left: 6.5vw;
	width: 85vw;
	height: 90vh;
	border: 2px solid white;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	z-index: 10;
}

#projectFrame {
	position: absolute;
	top: 2vh;
	left: 6vw;
	width: 85.5vw;
	height: 96vh;
}

#projectSide {
	width: 15vw;
	height: 110vh;
	background-color: #486FCC;
	border-right: 1vw solid #A6C0FF;
	transform: rotate(7deg);
	margin-top: -9vh;
	margin-left: -5vw;
}

#projectSide span {
	color: white;
	position: absolute;
	font-family: Oswald, sans-serif;
	transform: rotateZ(270deg);
	font-size: 8vh;
	left: 3vw;
	bottom: 15vw;
}

.projectFrame {
	border: 2px solid #A6C0FF;
	border-top-left-radius: 00px;
	border-bottom-right-radius: 00px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
