/* CSS Document */

html {
	background-color: darkcyan;
}

body {
	
}

web-nav {
	
}

menu {
	
}

menu-sub {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	color: white;
	font-size: 1.3em;
	/*  */
	transition: all 200ms ease-in-out;
}

menu-sub:hover {
	transform: scale(1.2px);
}
