/* CSS Document */
#bodyTag {
	background-color: #FFD839;
}

#headingOne {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	color: #C69F00;
	font-size: 4vw;
}

p {
	font-size: 1.3em;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

ul {

}

div {
	width: 70%;	
	float:inherit;
}

#leadP {
	color: #FF8C00;
}

#p1 {
	font-size: 1.5em;
	font-weight: 500;
}

.paragraph {
	font-size: 1.5em;
}

#listStyle {
		list-style-type: decimal-leading-zero;
	color: #FF8C00;
	font-size: 1.2em;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

 /** Home Button **/
#home {
			list-style-type: none;
			margin: 0;
			padding: 0;
			width: 120px;
			background-color: #C69F00;
		}
		
		#listHome{
			display: inline;
			float:left;
			position: static;
		}

		#anchorHome {
    		display: block;
    		padding: 10px;
    		background-color: #C69F00;
			color: green;
}
		#anchorHome:hover {
			color: red;
		}