body {
	margin: 0;
	font-family: Oswald, sans-serif;
}

#mainHeadline {
	position: absolute;
	text-align: left;
	line-height: 15vh;
	left: 10vw;
	top: 25vh;
	letter-spacing: 2.5vw;
	font-size: 10vh;
	color: black;
	font-family: Oswald, sans-serif;
}

#line {
	position: absolute;
	border-top: 0.2vh solid white;
	width: 120vh;
}

#mainContainer {
	color: white;
	z-index: -9;
	font-family: oswald, sans-serif;
	background-color: #2D457F;
}

	#hello {
		position: absolute;
		top: 15vh;
		text-align: center;
		font-size: 5vh;
	}

#secondaryContainer {
	color: white;
	background-color: white;
	font-size: 5vh;
	font-family: oswald, sans-serif;
}

	#hi {
		position: absolute;
		top: 115vh;
		margin-left: 45vw;
		text-align: center;
	}

#tertiaryContainer {
	color: white;
	font-size: 5vh;
	font-family: oswald, sans-serif;
}

	#yes {
		position: absolute;
		top: 215vh;
		margin-left: 47vw;
		margin-right: 53vw;
		text-align: center;
	}

.arrow, .arrow:before {
	position: absolute;
	left: 50%;
}

.arrow {
	width: 20px;
	height: 20px;
	margin: -20px 0 0 -20px;
	-webkit-transform: rotate(45deg);
	border-left: none;
	border-top: none;
	position: absolute;
	cursor: pointer;
}

#arrowMain {
	border-right: 2px #000 solid;
	border-bottom: 2px #000 solid;
	bottom: 5vh;
}

#arrowMain::before {
	border-right: 1px #000 solid;
	border-bottom: 1px #000 solid;
}

#arrowSecond {
	border-right: 2px #fff solid;
	border-bottom: 2px #fff solid;
	bottom: 5vh;
}

#arrowSecond:before {
	border-right: 1px #fff solid;
	border-bottom: 1px #fff solid;
}

#arrowThird {
	border-right: 2px #fff solid;
	border-bottom: 2px #fff solid;
	bottom: 5vh;
	-webkit-transform: rotate(225deg);
}

#arrowThird:before {
	border-right: 1px #fff solid;
	border-bottom: 1px #fff solid;
}

.arrow:before {
	content: "";
	width: 20px;
	height: 20px;
	top: 50%;
	margin: -10px 0 0 -10px;
	border-left: none;
	border-top: none;
	border-right: 1px #000 solid;
	border-bottom: 1px #000 solid;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-name: arrow;
}

@keyframes arrow {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translate(-10px, -10px);
	}
}

#labSide {
	width: 10vw;
	height: 100vh;
	background-color: #486FCC;
	border-right: 1vw solid white;
}

#labSide span {
	color: white;
	position: absolute;
	font-family: Oswald, sans-serif;
	transform: rotateZ(270deg);
	font-size: 8vh;
	left: -1vw;
	bottom: 5vw;
}

#labFrame {
	position: absolute;
	top: 2vh;
	left: 6vw;
	width: 85.5vw;
	height: 96vh;
}

#projectFrame {
	position: absolute;
	top: 2vh;
	left: 6vw;
	width: 85.5vw;
	height: 96vh;
}

#projectSide {
	width: 10vw;
	height: 100vh;
	background-color: #486FCC;
	border-right: 1vw solid #A6C0FF;
}

#projectSide span {
	color: white;
	position: absolute;
	font-family: Oswald, sans-serif;
	transform: rotateZ(270deg);
	font-size: 8vh;
	left: -3.7vw;
	bottom: 7vw;
}

.arrowNav {
	width: 2vw;
	height: 2vw;
	border-top: 5px solid white;
	border-left: 5px solid white;
	position: absolute;
	top: 10vh;
}

#right {
	transform: rotate(135deg);
	right: 5vw;
	cursor: pointer;
}

#left {
	transform: rotate(315deg);
	left: 3vw;
	cursor: pointer;
}
