/* Hamburger Menu */
.hamburger {
	color: white;
	position: absolute;
	top: 2vh;
	font-size: 5vh;
	right: 1vw;
	transition: 300ms;
	cursor: pointer;
}

.hamburger:hover {
	color: #5A8BFF;
	transition: 300ms;
}

.hamburger#projectHamburger {
	color: #5A8BFF;
}

.hamburger#projectHamburger:hover {
	color: black;
}

/* Lab Side Nav */

.labSideNav {
	height: 100vh;
	width: 0;
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	background-color: #5A8BFF;
	overflow-x: hidden;
	transition: 0.2s;
	padding-top: 60px;
	border-left: 2px solid white;
}

.close {
	cursor: pointer;
	color: white;
	font-size: 10vh;
	position: absolute;
	top: -2vh;
	right: 0.5vw;
	transition: 300ms;
	border: 2px solid transparent;
	padding: 0px;
	margin: 0px;
}

.close:hover {
	color: #486FCC;
	transition: 300ms;
}

/* Lab Navigation */
#sideNavContainer {
	width: 100%;
	border: 2px solid transparent;
	height: 75px;
	position: absolute;
	top: 0px;
	overflow: hidden;
}


#sideNavList {
	width: 100%;
	border: 2px solid transparent;
	border-top: 2px solid white;
	position: absolute;
	height: 90vh;
	top: 75px;
	padding-top: 10px;
	transition: 300ms;
}

#sideNavList ul li {
	transition: 300ms;
}

#sideNavList ul li:hover {
	transition: 250ms;
	background-color: #486FCC;
	transform: translateX(10px);
}

#sideNavList ul li a {
	color: white;
	letter-spacing: 2px;
	font-size: 3vh;
	line-height: 5vh;
	padding-left: 10px;
	text-decoration: none;
}

#sideNavList ul li a:hover {
	color: #53607F;
}

#sideNavList ul li a:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	background-color: #fff;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out 0s;
}

#sideNavList ul li a:hover:before {
	visibility: visible;
	transform: scaleX(1);
}

/* Project Navigation */

.projectSideNav {
	height: 100vh;
	width: 0;
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	background-color: #5A8BFF;
	overflow-x: hidden;
	transition: 0.2s;
	padding-top: 60px;
	border-left: 2px solid white;
}

#projectNavContainer {
	width: 100%;
	border: 2px solid transparent;
	height: 75px;
	position: absolute;
	top: 0px;
	overflow: hidden;
}

#projectNavList {
	width: 100%;
	border: 2px solid transparent;
	border-top: 2px solid white;
	position: absolute;
	height: 90vh;
	top: 75px;
	padding-top: 10px;
	transition: 300ms;
}

#projectNavList ul li {
	transition: 300ms;
}

#projectNavList ul li:hover {
	transition: 250ms;
	background-color: #486FCC;
	transform: translateX(10px);
}

#projectNavList ul li a {
	color: white;
	letter-spacing: 2px;
	font-size: 3vh;
	line-height: 5vh;
	padding-left: 10px;
	text-decoration: none;
}

#projectNavList ul li a:hover {
	color: #53607F;
}

#projectNavList ul li a:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	background-color: #fff;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out 0s;
}

#projectNavList ul li a:hover:before {
	visibility: visible;
	transform: scaleX(1);
}
