/* Main Body */
@media only screen and (max-width: 13in) {
	#mainHeadline {
		top: 5vh;
	}

	.cd-words-wrapper {
		font-size: 6vh;
		margin-top: -5vh;
		margin-left: 5vw;
	}

	#pp-nav {
		display: none;
	}

	object {
		position: absolute;
		left: 50vw;
		top: 20vh;
		width: 80vw;
	}

	iframe {
		display: none;
	}

	#labSide, #projectSide {
		transform: rotate(0);
		position: absolute;
		height: 10vh;
		width: 100vw;
		left: 0px;
		top: 0vh;
		background-color: #486FCC;
		border-right: 0;
		border-bottom: 1vw solid white;
		margin-top: 0vh;
		margin-left: 0vw;
	}

	#labSide span, #projectSide span {
		transform: rotate(0);
		font-family: Oswald, sans-serif;
		font-size: 8vh;
		top: 0.5vh;
		left: 5vw;
	}

	#projectSide {
		border-bottom: 1vw solid #486FCC;
	}

	.hamburger {
		color: white;
		position: absolute;
		top: 2vh;
		right: 4vw;
		font-size: 5vh;
		cursor: pointer;
	}

}
