body {
	margin: 0;
	font-family: 'Oswald', sans-serif;
	user-select: none;
}

*::selection {
	background-color: #171717;
}

#mainHeadline {
	position: absolute;
	text-align: left;
	line-height: 15vh;
	left: 5vw;
	top: 55vh;
	letter-spacing: 2.5vw;
	font-size: 10vh;
	font-family: 'Share Tech Mono', monospace;
	color: black;
}

#line {
	position: absolute;
	border-top: 0.2vh solid white;
	width: 120vh;
}

#mainContainer {
	color: white;
	z-index: -9;
	font-family: oswald, sans-serif;
	background-color: #2D457F;
}

	#hello {
		position: absolute;
		top: 15vh;
		text-align: center;
		font-size: 5vh;
	}

#secondaryContainer {
	color: white;
	background-color: white;
	font-size: 5vh;
	font-family: oswald, sans-serif;
}

	#hi {
		position: absolute;
		top: 115vh;
		margin-left: 45vw;
		text-align: center;
	}

#tertiaryContainer {
	color: white;
	font-size: 5vh;
	font-family: oswald, sans-serif;
}

	#yes {
		position: absolute;
		top: 215vh;
		margin-left: 47vw;
		margin-right: 53vw;
		text-align: center;
	}

object {
	width: 50vw;
	height: 100vh;
	position: absolute;
	left: -10vw;
	top: 1vh;
	opacity: 0.5;
	transform: rotate(-45deg);
}

.hamburger {
	color: white;
	position: absolute;
	top: 2vh;
	font-size: 5vh;
	right: 1vw;
	transition: 300ms;
	cursor: pointer;
}

.hamburger:hover {
	color: #5A8BFF;
	transition: 300ms;
}

.hamburger#projectHamburger {
	color: #5A8BFF;
}

.hamburger#projectHamburger:hover {
	color: black;
}

.labSideNav {
	height: 100vh;
	width: 0;
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	background-color: #5A8BFF;
	overflow-x: hidden;
	transition: 0.2s;
	padding-top: 60px;
	border-left: 2px solid white;
}

#pp-nav {
	z-index: 5;
}

#sideNavContainer {
	width: 100%;
	border: 2px solid transparent;
	height: 75px;
	position: absolute;
	top: 0px;
	overflow: hidden;
}

.close {
	cursor: pointer;
	color: white;
	font-size: 10vh;
	position: absolute;
	top: -2vh;
	right: 0.5vw;
	transition: 300ms;
	border: 2px solid transparent;
	padding: 0px;
	margin: 0px;
}

.close:hover {
	color: #486FCC;
	transition: 300ms;
}

#sideNavList {
	width: 100%;
	border: 2px solid transparent;
	border-top: 2px solid white;
	position: absolute;
	height: 90vh;
	top: 75px;
	padding-top: 10px;
	transition: 300ms;
}

#sideNavList ul li a {
	color: white;
	letter-spacing: 2px;
	font-size: 3vh;
	line-height: 5vh;
	padding-left: 10px;
	text-decoration: none;
}

#sideNavList ul li a:hover {
	color: #53607F;
}

#sideNavList ul li a:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	background-color: #fff;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out 0s;
}

#sideNavList ul li a:hover:before {
	visibility: visible;
	transform: scaleX(1);
}

#sideNavList ul li {
	transition: 300ms;
}

#sideNavList ul li:hover {
	transition: 250ms;
	background-color: #486FCC;
	transform: translateX(10px);
}

/* Project */

.projectSideNav {
	height: 100vh;
	width: 0;
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	background-color: #5A8BFF;
	overflow-x: hidden;
	transition: 0.2s;
	padding-top: 60px;
	border-left: 2px solid white;
}

#projectNavContainer {
	width: 100%;
	border: 2px solid transparent;
	height: 75px;
	position: absolute;
	top: 0px;
	overflow: hidden;
}

#projectNavList {
	width: 100%;
	border: 2px solid transparent;
	border-top: 2px solid white;
	position: absolute;
	height: 90vh;
	top: 75px;
	padding-top: 10px;
	transition: 300ms;
}

#projectNavList ul li a {
	color: white;
	letter-spacing: 2px;
	font-size: 3vh;
	line-height: 5vh;
	padding-left: 10px;
	text-decoration: none;
}

#projectNavList ul li a:hover {
	color: #53607F;
}

#projectNavList ul li a:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	background-color: #fff;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out 0s;
}

#projectNavList ul li a:hover:before {
	visibility: visible;
	transform: scaleX(1);
}

#projectNavList ul li {
	transition: 300ms;
}

#projectNavList ul li:hover {
	transition: 250ms;
	background-color: #486FCC;
	transform: translateX(10px);
}
