body {
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

nav {
	display: block;
	margin: 0px;
	background-color: black;
	color: white;
	height: 50px;
}

nav ul {
	padding: 0px;
	margin: 0px;
	position: absolute;
	right: 0px;
}

nav ul li, #logo {
	display: inline-block;
	padding: 15px 50px;
	font-size: 20px;
	font-family: sans-serif;
	transition: 250ms;
	cursor: pointer;
}

nav ul li:hover {
	background-color: white;
	color: black;
	box-shadow: 1px 1px 1px black;
	transition: 250ms;
}

#logo {
	position: absolute;
	left: 0px;
	cursor: auto;
}

#logo:hover {
	background-color: transparent;
	color: white;
}

.container {
	border: 2px solid black;
	background: white;
	height: calc(100vh - 45px);
	width: 100%;
}
