@charset "UTF-8";
/* CSS Document */
body{background:#F2BE54; }
h2{position: absolute;
right:32%;
	top:90px;
font-family: sans-serif;
    overflow-x: hidden;
    user-select: none;
    margin: 0px;}
#username{position: absolute;
top: 190px;
	right: 35%;
	border-radius: 10%;
}
#password{position: absolute;
top:190px;
right:20%;
border-radius: 10%;}

h5{position: absolute;
top:290px;
right:30%;
font-family: sans-serif}



#css {
    width: 50px;
    top: 10px;
    left: 50px;
    position: absolute;
}

#cssTag {
    position: absolute;
    top: 25px;
    left: 110px;
    font-size: 1.2rem;
    letter-spacing: -1px;
}
nav {
    top: 1vh;
    position: absolute;
    right: 2vw;
}

ul li {
    display: inline;
}
#dob{position:absolute;
	top: 300px;
	right:35%;
	border-radius: 10%


}
#email{position: absolute;
top:300px;
right: 20%;
border-radius: 10%;}
#us{position: absolute;
top: 140px;
right:500px; }
#pass{position: absolute;
top:140px;
right:300px;}
#doB{position: absolute;
top:250px;
right:500px;}
#mail{position: absolute;
top:250px;
right:300px}
#submit{background: #F4EAD5;
border-radius:20%;
font-size: 12px;
position: absolute;
top:330px;
right:29%;
font-family: sans-serif}
