/* CSS Document */

@font-face {
	font-family: roboto;
	src: url(http://techteach.us/Web2019/Hmohammed/fonts/Roboto-Regular.ttf)
}

@keyframes slideTop {
	0% {
	  transform: translateY(-100%);
	  opacity: 0;
	}
	87% {
		opacity: 0.1;
	}
	100% {
	  transform: translateX(0);
	  opacity: 1 ;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

html {
	font-family: roboto;
	margin: 0px;
	padding: 0px;
	background-color: #133253;
	color: #577C9F;
}

h1 {
	font-size: 5em;
	margin-bottom: 0px;
	animation: 0.5s ease-out 0s 1 slideTop;
}

h4 {
	margin-top: 0px;
	margin-bottom: 5px;
	font-size: 2em;
	animation: 0.5s ease-out 0s 1 slideTop;
}

h5 {
	color: #9CB5CC!important;
	animation: 5s ease-out 0s 1 fadeIn;
}

.paragraph {
	width: 80%;
	color: #B1C0D1!important;
	animation: 0.5s ease-out 0s 1 slideTop;
}

p.paragraph {
	width: 65%;
}

#button {
	margin-top: 10px;
	background-color: #041D37;
	border: 0px;
	width: 100px;
	padding: 20px;
	color: white;
	transition: all 1s;
	animation: 0.5s ease-out 0s 1 slideTop;
	font: 1em;
}

#button:hover {
	background-color: #738CA6;
}

.data {
	margin: 0px;
	padding: 10px;
	font-size: 1em;
}

#dataBtm {
	padding-bottom: 15px!important;
}

form {
	padding-top: 10px;
}

#formCSS {
	margin: 10px;
}

.inputForm {
	border: 0px;
	border-bottom: solid thin;
	color: #95B7C5;
	padding: 5px;
	margin: 10px;
	background-color: #133253;
	transition: all 0.7s;
	animation: 2s ease-out 0s 1 fadeIn;
}

.inputForm:focus {
	background-color: #738CA6;
	color: white;
}

span {
	font-size: 1em;
	color: #B9CCE0;
	animation: 2s ease-out 0s 1 fadeIn;
}

#status {
	font-size: 1em;
	color: white;
}

.restriction {
	color: red;
	font-style: italic;
	font-size: 10px;
}